<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Data</title>
	<link rel="stylesheet" href="../static/CSS/general.css">
	<link rel="stylesheet" href="../static/CSS/navigationBar.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,
						400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" 
						rel="stylesheet">
	<style>
		.logo{
			height: 240px;
			transition: height 0.15s;
		}
		.logo:hover{
			height: 250px;
			cursor: pointer;
			
		}
		.Info{
			display:flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			
		}
		.player_grid{
			display: grid;
			grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
			column-gap: 20px;
			row-gap: 45px;
			overflow: hidden;
		}

		.playerButton{
			width: 150px;
			height: 53px;
			font-size: 30px;
			font-weight:lighter;
			border-radius: 25px;
			border-color: rgb(193, 193, 193);
			background-color: white;
			transition: opacity 0.15s;
			transition: background-color 0.15s;
			border-style: groove;
		}
		.playerButton:hover{
			opacity: 0.6;
			background-color: rgb(232, 232, 232);
		}

		.horizontal-line{
			position:relative;
			width: 100%;
			height: 20px;
		}
		.horizontal-line:hover{
			cursor: pointer;
		}

		.teamName{
			position: absolute;
			top: -30px;
			left: 30px;
			background-color: white;
			padding: 10px;
			font-size: 30px;
			transition: font-size 0.3s;

		}
		.horizontal-line:hover .teamName{
			font-size: 35px;
		}

		.horizontal{
			position: relative;
			top: 10px;
			border: solid black 1px;
			transition: border 0.15s;
			transition: top 0.15s;
		}
		.horizontal-line:hover .horizontal{
			border-width: 2px;
			top: 5px;
		}

	</style>
</head>

<body class="bodyPadding">
	<div class="navigationBar">
		<img class="CPBL-logo" src="https://www.cpbl.com.tw/theme/common/images/project/logo_new.png">
		<div class="navigationButtonList">
			<div class="navigationButtonList">
				<div class="block">
					<a class="playerLink" href="{{ url_for('allPlayers') }}">Player</a>
					<div class="playerUnderLine"></div>
				</div>
				<div class="block">
					<a class="scoreLink" href="{{ url_for('score') }}">Score</a>
					<div class="scoreUnderLine"></div>
				</div>
				<div class="block">
					<a class="winnerLink" href="{{ url_for('winnerlist') }}">Winlist</a>
					<div class="winnerUnderLine"></div>
				</div>
				<div class="block">
					<a class="predictLink" href="{{ url_for('predict') }}">Predict</a>
					<div class="predictUnderLine"></div>
				</div>
			</div>
		</div>
		<a class="changeData" href="{{ url_for('insertplayer') }}">Edit</a>
	</div>


	<div id="allTeams">
		<div class="team" id="brotherelephant">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">brotherelephant</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="whale">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="team_logo_lions_500x500">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="dragon">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="bear">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="eagle">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="ox">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="kingkon">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">kingkon</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="snake">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="Lamigo">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="Dmedia">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="rhino">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="brother">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="Fubon_Guardians">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="Rakuten_Monkeys">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="TsgHawks">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
		<div class="team" id="baseball">
			<div class="horizontal-line">
				<hr class="horizontal">
				<h1 class="teamName">teamName</h1>
			</div>
			<div class="Info">
				<img class="logo" src="../static/picture_repository/team_logo_lions_500x500.png">
				<div class="player_grid">
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
					<button class="playerButton">Name</button>
				</div>
			</div>
		</div>
	</div>
	<script src="../static/js/allPlayersRequest.js"></script>
</body>
</html>
<!--
 兄弟、兄弟二軍(brotherelephant.jpg)
 中信、中信二軍(whale.jpg)
 三商(tiger.png)
 統一7-ELEVEn獅、統一7-ELEVEn獅二軍(team_logo_lions_500x500.png)
 味全龍、味全龍二軍(dragon.png)
 俊國(bear.png)
 時報(eagle.jpg)
 興農、興農二軍(ox.png)
 第一(kingkon.jpg)
 誠泰(snake.png)
 Lamigo、Lamigo二軍(Lamigo.jpg)
 米迪亞(Dmedia.jpg)
 義大、義大二軍(rhino.jpg)
 中信兄弟、中信兄弟二軍(brother.png)
 富邦悍將、富邦悍將二軍(Fubon_Guardians.png)
 樂天桃猿、樂天桃猿二軍(Rakuten_Monkeys.png)
 台鋼雄鷹、台鋼雄鷹二軍(TsgHawks.png)
 其他(baseball.jpg)
-->