.navigationBar{
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}
.navigationButtonList{
    height: 100%;
    width:300px;
    display:flex;
    flex-direction: row;
}

.CPBL-logo{
    height:60px;
}
.block{
    position: relative;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.block div{
    position: absolute;
    top: 48px;
    width:0;
    height:2px;
    background-color:black;
    transition: width 0.2s ease;
}
.playerLink:hover + .playerUnderLine{
    width: 70px;
}
.scoreLink:hover + .scoreUnderLine{
    width: 70px;
}
.winnerLink:hover + .winnerUnderLine{
    width: 70px;
}
.predictLink:hover + .predictUnderLine{
    width: 70px;
}
.block a{
    text-decoration: none;
    font-size: 23px;
    color: rgb(0, 0, 0);
    font-weight:300;
}
.navigationButtonList a:hover{
    position:absolute;
}

.changeData{
    margin-top: 5px;
    margin-right: 30px;
    width:50px;
    height:50px;
    background-color:rgba(128, 128, 128, 0.7);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: width 0.15s;
    transition: height 0.15s;
    transition: background-color 0.15s;
}
.changeData:hover{
    width: 52px;
    height: 52px;
    background-color:rgba(128, 128, 128, 0.9);
    cursor: pointer;
}