#format{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoFormat{
    padding-right: 30px;
    padding-left: 30px;
    height: 350px;
    width: 800px;
    background-color: rgb(30, 48, 89, 0.9);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.label{
    color:rgb(133, 151, 195);
    margin-right: 30px;
    font-size: 20px;
}

.value{
    color: white;
    font-size: 20px;
    width:max-content;
}
.positionLeft{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;
}
.positionRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;
}
.labelColumn{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.valueColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}