.navigationBar{
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.navigationButtonList{
    height: 100%;
    width:370px;
    display:flex;
    flex-direction: row;
}

.CPBL-logo{
    height:60px;
}
.block{
    position: relative;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.block div{
    position: absolute;
    top: 48px;
    width:0;
    height:2px;
    background-color:black;
    transition: width 0.2s ease;
}



.playerLink:hover + .playerUnderLine{
    width: 70px;
}
.predictLink:hover + .predictUnderLine{
    width: 70px;
}
.scoreLink:hover + .scoreUnderLine{
    width: 70px;
}
.winnerLink:hover + .winnerUnderLine{
    width: 70px;
}
.block a{
    text-decoration: none;
    font-size: 23px;
    color: rgb(0, 0, 0);
    font-weight:300;
}
.navigationButtonList a:hover{
    position:absolute;

}

.changeData{
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-right: 30px;
    width:50px;
    height:50px;
    background-color:rgba(128, 128, 128, 0.7);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: width 0.15s;
    transition: height 0.15s;
    transition: background-color 0.15s;
}
.changeData:hover{
    border-radius: 22px;
    background-color:rgba(128, 128, 128, 0.9);
    cursor: pointer;
}

#hoverNavigation{
    
    position:fixed;
    top: 55px;
    width: 100%;
    height: 0px;
    background-color: rgb(251, 251, 251);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.1s ease, padding-top 0.1s ease;
}

.hoverNavigationContent{
    font-family: "Roboto", "Serial";
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
}

.hoverNavigationContent:hover{
    opacity: 0.5;
    cursor: pointer;
}

#navigationBarInsert, #navigationBarUpdate{
    cursor: pointer;
}
.hoverNavigationBlock{
    
    margin-right: 200px;
    width:100px;
    height: 500px;
    display:flex;
    flex-direction: column;
    align-items:self-start;
    justify-content: flex-start;
}
